img {
    height: 400px;
    width: 400px;
}

#container {
    margin: 100px auto;
    width: 50%;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    background: -webkit-linear-gradient(deepskyblue, lightblue);
    border-radius: 100px 20px 100px 20px;
    box-shadow: 2px 2px 10px 2px;
}